{% if data.blocks.size > 0 %}
  <div class="special-products-tab tab">
    {% for block in data.blocks %}
      {% if block.collection.products.size > 0 %}
        
        <button class="tab-toggle product-slider-heading tab-index" data-target="#product-{{ block.handle }}" data-toggle="tabs">
          {% if block.title == '' %}{{ block.collection.title | editable }}{% else %}{{ block.title | editable }}{% endif %}
        </button>

        <div class="tab-block" id="product-{{ block.handle }}">
          {% include "product_slider", slider_class: 'special-products', product_limit: 16, slider_products: block.collection.products %}
        </div>
      {% endif %}

    {% endfor %}
  </div>
{% endif %}

{% assign block_name = null %}
